.jumbo-img {
  width: 100%;
  height: 100%;
}
.hero-img {
  background-image: url(../img/centerpiece.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
  width: 100%;
  position: relative;
}
.jumbotron-text {
  position: absolute;
  border: 5px solid #35482f;
  top: 10%;
  left: 6%;
  padding: 3%;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  color: white;
  text-shadow: 1px 1px 1px black;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #000000d4;
}
.jumbotron-text hr {
  border: 1px solid white;
}
@media screen and (max-width: 550px) {
  .jumbotron-text {
    width: 100%;
    left: 0%;
    top: 5%;
    margin-bottom: 0%;
    position: sticky;
    border-radius: 0%;
    border: none;
  }
}
.jumbotron-fluid, .container-fluid {
  padding: 0;
}

.jumbotron .card {
  text-align: center;
  padding: 2% 0;
  border: none;
  color: #515151;
}

.card img {
  height: 335px;
  object-fit: cover;
  margin-top: 10%;
}

.card-text {
  margin: 0;
  line-height: 2em;
}

.card-block h6, .card-block h3{
  line-height: 1.5em;
}

.card-block a {
  line-height: 2em;
}

.blockquote {
  text-align: center;
  padding: 5%;
  margin: 5% 0;
  font-weight: bold;
  color: grey;
  font-family: sans-serif;
}

.blockquote p {
  color: grey;
  font-style: italic;
}

.card {
  border: none;
  text-align: center;
  color: #515151;
}

#bottom {
  margin-top: 10%
}

ul {
  text-decoration: none;
  list-style: none;
  color: #515151;
}

.link-menu {
  margin-top: 8%;
  border-top: solid 1px lightgrey;
}

.link-menu ul {
  padding-top: 8%;
}

.link-menu li {
  padding: 4% 0;
  color: black;
}

.link-menu li:first-child {
  font-weight: bold;
}

.link-menu a {
  color: black;
  text-decoration: none;
}

.link-menu a:hover {
  color: skyblue;
}

.middle-card {
  background-color: #f3f3f3;
  padding: 5%;
}

#field img {
  margin: 0;
}

.footer {
  margin-top: 10%;
  padding-top: 6%;
  border-top: .2px solid lightgrey;
}
.icon-img {
  height: 55px;
  margin-top: 10%;
}

.connect i {
  padding: 1%;
}

.bottom-text {
  font-size: 13.5px;
  padding-top: 2%;
}

.check-out ul {
  padding: 0;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 20;
  padding: 1% 5%;
}
.navbar ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


@media screen and (min-width: 1001px) {
  .middle-card {
    background-color: transparent;
  }

}

@media screen and (min-width: 770px) {
  .check-out img {
    margin: 0;
  }

}
